.column img{
    border: 10px solid yellow ;
    padding: 10px;
    margin:  5px;
    border-radius: 10px;
    background-color: yellow;
    box-shadow: 5px 5px blue;
}

.rows{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}
.column a:hover{
    color: green;
    text-decoration:underline;
   
}

