*{
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
.container{
    width: 1080px;
    margin: auto;
}
.logo{
    text-align: center;
    background-color: #555;
}
.logo img{
    width: 300px;
    height: 111px;
}
.main-nav{
    display: flex;
    justify-content: space-between;
    width: 1080px;
    height: 85px;
    background-color: #f59a23;
    
}
.menu{
    display: flex;
    line-height: 40px;
    margin-left: 80px;
    padding-right: 10px;

}
.menu li{
    list-style: none;
    padding: 10px;
    
    
}
.menu li a{
    text-decoration: none;
    color: white;
    
}
.menu li a:hover{
    text-decoration: underline;
    color: red;
}
.search input{
    border-radius: 8px;
    height: 40px;
    padding: 10px;
    margin-top: 20px;

}
.nut{
    color: white;
    background-color: #333333;
    width: 67px;
    height: 33px;
    
}
.nhap{
    width: 216px;
    height: 40px;
    
}
.nut:hover{
    color: red;
}
.banner img{
    width: 1080px;
    height: 364px;
}
h2:hover{
    text-decoration: underline red;
    color: red;
}
.rows{
    display: flex;
    

}
.col{
    border: 1px solid black;
    text-align: center;
    width: 300px;
    height: 300px;
    margin: 50px;
}
.col p{
    color: red;
}
.col h3:hover{
    text-decoration: underline red;
    color: red;
}
.col img{
    width: 252px;
    height: 170px;
}
table{
    width: 988px;
    height: 304px;
}
table tr td img{
    width: 458px;
    height: 304px;
}
.col1{
    padding-left: 10px;
    padding-right: 20px;
}
.col1 h3{
    color: red;
}
.col1 h3:hover{
    text-decoration: underline;
    color: #f59a23;
}
footer{
    width: 1080px;
    height: 113px;
    background-color: #555;
}
footer p{
    text-align: center;
    color: white;
    line-height: 100px;
}





